.examples {
  padding-top: 94px;
  padding-bottom: 94px;
  // padding-top: 60px;
  // padding-bottom: 60px;
}
.buttons-nav {
  @include mobile {
    display: flex;
    flex-wrap: wrap;
  }

  @include desktop {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.examples__buttons-nav {
  margin-bottom: 50px;
}
.buttons-nav__btn:not(:last-child) {
  margin-right: 8px;
}
.buttons-nav__link {
  @include font(500, 16px, 1.62, 0.03em);
  display: inline-block;
  color: $title-and-nav-text-color;
  background-color: $background-color-secondary-light;
  cursor: pointer;
  padding: 6px 22px;
  border: transparent;
  border-radius: $border-radius;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $secondary-text-color;
    background-color: $accent-color;
    box-shadow: $btn-nav-link-shadow;
  }
  &.current {
    color: $secondary-text-color;
    background-color: $accent-color;
    min-width: 73px;
    height: 38px;
    padding: 6px 25px;
    box-shadow: $btn-nav-link-shadow;
  }
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.examples__portfolio {
  margin-right: auto;
  margin-left: auto;
}
.portfolio__item {
  display: block;
  width: 370px;

  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--primary-background-color);
  //   width: calc((100% - (30px * 2)) / 3);
  /* max-height: 404px; */

  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}
.portfolio__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: $portfolio-link-shadow;
  }
}
.portfolio__text-wrap {
  position: relative;
  overflow: hidden;
  /* width: 370px;
    height: 294px; */
}
.portfolio__text {
  @include font(400, 18px, 1.56, 0.03em);
  position: absolute;
  top: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;

  color: $secondary-text-color;
  background-color: $background-color-portfolio-text;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: scroll;

  .portfolio__link:hover & {
    transform: translateY(0);
  }
  .portfolio__link:focus & {
    transform: translateY(0);
  }
}
.portfolio__info {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;

  border: $portfolio-info-border;
  border-top: none;
}
.portfolio__title {
  @include font(700, 18px, 2, 0.06em);
  color: $title-and-nav-text-color;
  text-decoration: none;
  /* width: 322px; */
  margin-top: 0;
  margin-bottom: 4px;
}
.portfolio__type {
  @include font(400, 16px, 1.88, 0.03em);
  color: $primery-text-color;
  /* width: 322px; */
  margin: 0;
}
