// .features {
// padding-top: 94px;
// padding-bottom: 94px;

.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features__item:not(:last-child) {
  // margin-right: 30px;
  // max-width: 270px;

  margin-bottom: 30px;
}
.features__item {
  width: 100%;
  @media screen and(min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and(min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}
.features__decoration {
  display: flex;
  @extend %list;
  // width: 270px;
  height: 120px;
  background-color: $background-color-secondary-light;
  border-radius: $border-radius;
  margin-bottom: 30px;

  // Mobile
  flex-wrap: wrap;
  width: 100%;
}
.features__icon {
  width: 70px;
  height: 70px;
}
