.footer {
  background-color: $background-color-secondary-dark;
  padding: 60px 15px;

  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include desktop {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.footer-container {
  display: block;
  text-align: center;
  // width: 450px;
  width: 100%;

  padding-right: 0;
  padding-left: 0;

  @include desktop {
    display: flex;
    align-items: baseline;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.contacts {
  width: 231px;
}

// .footer__contacts-wrap {
//   display: block;
//   text-align: center;

//   margin-left: auto;
//   margin-right: auto;
//   @include desktop {
//     display: flex;
//     align-items: baseline;
//   }
// }

.footer__contacts {
  margin-top: 20px;

  margin-right: auto;
  margin-left: auto;
}
.contacts__info-street {
  margin-bottom: 9px;
}
.contacts__street {
  display: block;
  color: $secondary-text-color;
  font-style: normal;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .contacts__info-street &:hover,
  .contacts__info-street &:focus {
    color: $accent-color;
  }
}
.contacts__info-email {
  display: block;
  margin-bottom: 9px;
}
.contacts__email {
  display: block;
  color: $contacts-footer-color;
  font-style: normal;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.contacts__tel {
  display: block;
  color: $contacts-footer-color;
  font-style: normal;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.footer-soc {
  display: block;

  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;

  @include desktop {
    margin-left: 70px;
  }
}
/* Приєднуйтесь */
.footer-join {
  display: block;
  margin-top: 60px;

  @include desktop {
    margin-left: 93px;
    width: 570px;
    height: 86px;
    margin-top: 0;
  }
}
.subscription__item {
  @include desktop {
    display: flex;
  }
}
.subscription__email {
  display: block;
  width: 290px;
  height: 50px;
  padding: 15px 16px;

  border: $subscription-email-border;
  box-shadow: $btn-box-shadow;
  border-radius: $border-radius;
  background-color: transparent;
  color: $secondary-text-color;

  margin-left: auto;
  margin-right: auto;

  &::placeholder {
    @include font(400, 16px, 1.25, 0.03em);
    font-size: 16px;
    color: $contacts-footer-color;
  }
  // @media screen and(min-width: 320px) and(max-width: 470px) {
  //   width: 320;
  // }
  @include mobile {
    width: 450px;
  }
  @include tablet {
    width: 450px;
  }
  @include desktop {
    width: 358px;
  }
}
.subscription__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
  fill: $secondary-text-color;
}
.subscription__title {
  display: block;
}
