.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border: $header-border;

  @include tablet {
  }

  @include desktop {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.header__container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation__list {
  display: flex;
  margin-left: 93px;
  display: none;
}
.navigation__item {
  position: relative;
  display: flex;
  @extend %list;

  &:not(:last-child) {
    margin-right: 50px;
  }
}
.navigation__link {
  @include font($fs: null);
  color: $title-and-nav-text-color;
  font-style: normal;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
  &.current {
    color: $accent-color;
  }
  &:hover::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
    top: 45.5px;
  }
  &:focus::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
    top: 45.5px;
  }
  &.current::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
    top: 45.5px;
  }
}
.header__connect {
  display: flex;
  gap: 30px;
  margin-left: auto;
  display: none;
}
.connect__mail {
  @include font($fs: null);
  display: flex;
  align-items: center;
  color: $primery-text-color;
  font-style: normal;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.connect__tel {
  @include font($fs: null);
  display: flex;
  align-items: center;
  color: $primery-text-color;
  font-style: normal;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.connect__icon {
  fill: $primery-text-color;
  align-items: center;
  margin-right: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .connect__mail:hover &,
  .connect__mail:focus & {
    fill: $accent-color;
  }
  .connect__tel:hover &,
  .connect__tel:focus & {
    fill: $accent-color;
  }
}
