.hero {
  background: $background-color-hero;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bg-image.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  margin-right: auto;
  margin-left: auto;

  padding-top: 118px;
  padding-bottom: 118px;
  @media screen and(min-width: 768px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }
  @media screen and(min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  color: $secondary-text-color;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  @media screen and(min-width: 768px) {
    // width: 360px;
    // height: 84px;
  }
  @media screen and(min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  opacity: 1;
  background-color: $background-color-modal;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    pointer-events 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__item {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  min-height: 0px;
  background-color: $primary-background-color;

  box-shadow: $modal-item-box-shadow;
  border-radius: $border-radius;

  padding: 40px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.5);
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal__close {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  @extend %list;

  width: 30px;
  height: 30px;
  background-color: transparent;
  border: $modal-close-border;
  border-radius: 50%;
  cursor: pointer;
}
.modal__icon {
  display: inline-block;
  fill: $title-and-nav-text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__close:hover &,
  .modal__close:focus & {
    fill: $accent-color;
  }
}
.modal__title {
  @include font(700, 20px, 1.15, 0.03em);
  text-align: center;
  margin-bottom: 12px;
  color: $title-and-nav-text-color;
}
/* Modal form */
.form__field {
  width: 448px;
  /* height: 58px; */
  margin-bottom: 10px;
}
.form__item {
  position: relative;
}
.comments {
  display: block;
  width: 448px;
  height: 138px;
}
.modal__field {
  margin-bottom: 20px;
}
.form__label {
  @include font(400, 12px, 1.17, 0.01em);
  display: block;
  color: $primery-text-color;
  margin-bottom: 4px;
}
.form__input {
  /* width: 448px; */
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: $form-input-border;
  border-radius: $border-radius;
  padding-left: 42px;
  outline-color: rgba(33, 33, 33, 0.2);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    outline-color: $outline-color-accent;
    border: 1px solid $outline-color-accent;
  }
}
.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: $title-and-nav-text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus + .form__icon,
.form__input:hover + .form__icon {
  fill: $accent-color;
}
.comments__textarea {
  display: block;
  width: 448px;
  height: 120px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 0;
  outline-color: $outline-color;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    outline-color: $outline-color-accent;
    border: 1px solid $outline-color-accent;
  }
  &::placeholder {
    @include font(400, 12px, 1.17, 0.01em);
    color: $comments-placeholder-color;
  }
}
/* Check-box */
.checkbox {
  display: block;
  width: 425px;
  height: 24px;
  border: none;
}
.checkbox__wrap {
  margin-left: auto;
  margin-right: auto;
}
.checkbox__input {
  width: 16px;
  height: 15px;
  align-items: center;
  background-color: $title-and-nav-text-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__text {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.checkbox__icon {
  display: flex;
  @extend %list;
  width: 16px;
  height: 15px;
  border: 2px solid $title-and-nav-text-color;
  border-radius: 3px;
  margin-right: 8px;
  fill: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__text > .checkbox__icon {
  background-color: $accent-color;
  border-color: transparent;
  fill: $secondary-text-color;
}
.checkbox__input:focus + .checkbox__text > .checkbox__icon {
  border-color: $accent-color;
}
.checkbox__agreement {
  color: $accent-color;
}
