.header-open-menu {
  margin-left: auto;
  background-color: $secondary-text-color;
  border-color: transparent;

  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}
.header-close-menu__container {
  width: 100%;
}
.header-close-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $primary-background-color;
  z-index: 2;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;

  @media screen and(max-width: 450px) {
    padding-right: 10px;
  }
}
.header-close-menu__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  margin-left: auto;

  display: flex;
  @extend %list;

  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  border-color: transparent;
  cursor: pointer;
}
.header-close-menu__icon {
  display: inline-block;
  fill: $title-and-nav-text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .header-close-menu__btn:focus & {
    fill: $accent-color;
  }
}
.header-close-menu__list {
  margin-bottom: 302px;

  @media screen and(max-width: 450px) {
    margin-bottom: 150px;
  }
}
.header-close-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.header-close-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: $title-and-nav-text-color;

  font-style: normal;
  text-decoration: none;
}
.header-close-menu__link.current {
  color: $accent-color;
}
.header-close-menu__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: $accent-color;
  font-style: normal;
  text-decoration: none;

  @media screen and(max-width: 450px) {
    display: block;
    white-space: nowrap;
    font-size: 24px;
    line-height: 1.17;
  }
}
.header-close-menu__mail {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $primery-text-color;
  margin-top: 32px;
  font-style: normal;
  text-decoration: none;
}
.menu-socials {
  display: flex;
  margin-top: 64px;

  @media screen and(max-width: 450px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.menu-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
  font-style: normal;
  text-decoration: none;
}

.menu-socials__item {
  display: flex;

  &:nth-child(n + 2) {
    padding-left: 10px;

    @media screen and(max-width: 450px) {
      padding-left: 0;
    }
  }

  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }

  @media screen and(max-width: 450px) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
