.team {
  // padding-top: 94px;
  // padding-bottom: 94px;
  background-color: $background-color-secondary-light;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team__card {
  background: $primary-background-color;
  box-shadow: $team-card-box-shadow;
  border-radius: $team-card-border-radius;

  width: 100%;
  @media screen and(min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and(min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.team__item {
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__name {
  @include font($lh: 1.19, $ls: 0.03em);
  color: $title-and-nav-text-color;
  text-align: center;
}
.team__position {
  @include font($fw: 400, $lh: 1.19, $ls: 0.03em);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}
