.title {
  @include font(700, 28px, 1.18, 0.03em);
  color: $title-and-nav-text-color;
  text-align: center;
  margin-bottom: 30px;

  @include mobile {
  }

  @include tablet {
  }

  @include desktop {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
.pre-title {
  color: $secondary-text-color;
  margin-bottom: 20px;
  text-transform: uppercase;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.features__title {
  @include font(700, 14px, 1.14, 0.03em);
  margin-bottom: 10px;
  text-transform: uppercase;
  color: $title-and-nav-text-color;

  @include mobile {
    text-align: center;
  }

  @include tablet {
    text-align: left;
  }

  @include desktop {
    text-align: left;
  }
}
